{% load static %}

<div>
    <img src="{% static 'icons/lowmumble.png' %}" alt="Low Mumble icon">
    <a
        href="{% url 'post_list' %}"
        hx-get="{% url 'post_list' %}"
        hx-push-url="true"
        hx-target="main"
        id="blog_title">
        low mumble.
    </a>
</div>

{% if "post" in request.path %}
    <a
        id="back_btn"
        href="{{ back_info.path }}"
        hx-get="{{ back_info.path }}"
        hx-target="main"
        hx-push-url="true">
        <img src="{% static 'icons/arrow_back.png' %}" alt="Back arrow">
        <span class="back-text"><span class="tag">{{ back_info.tag }}</span></span>
    </a>
{% endif %}
