{% load static %}

<article class="post">
    <h1 class="post-title">{{ post.title }}</h1>

    <!-- publish details -->
    <div class="publish-details">
        {% if post.published %}
            <time datetime="{{ post.created_on|date:'Y-m-d' }}">{{ post.created_on|date:"F j, Y" }}</time>
        {% elif not post.published%}
            <p>Draft</p>
        {% endif %}
    </div>

    <!-- tags -->
    <div class="tag-container">
        {% for tag in post.tags.all %}
            <a
                class="tag"
                href="{% url 'post_list' %}?tag={{ tag.slug }}">
                {{ tag }}
            </a>
        {% endfor %}
    </div>

    <!-- blog post -->
    {{ post.content|safe }}
</article>

<div class="admin-options">
    {% if user.is_superuser %}
        <a
            class="edit button"
            href="{% url 'edit_post' slug=post.slug %}">
            Edit
        </a>
    {% endif %}
</div>
