<section class="tag-container" hx-boost="true" hx-target="main">
    <a
        href="{% url 'post_list' %}"
        class="tag {% if not current_tag %}selected{% endif %}">all</a>

    {% for tag in tags %}
        <a
            href="{% url 'post_list' %}?tag={{ tag.slug }}"
            class="tag{% if current_tag == tag %} selected{% endif %}">{{ tag }}</a>
    {% endfor %}

    {% if not more_tags and tags|length == 10 %}
        <a
            href="{% url 'post_list' %}?more-tags"
            class="tag more">
            more
            <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#ba5e5e"><path d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z"/></svg>
        </a>
    {% endif %}

    {% if more_tags %}
        <a
            href="{% url 'post_list' %}"
            class="tag less">
            <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#ba5e5e"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg>
            less
        </a>
    {% endif %}
</section>

{% if user.is_superuser and drafts %}
    <details>
        <summary></summary>
        <ul class="post-list drafts">
            {% for draft in drafts %}
                <li>
                    <span>Draft</span>
                    <a href="{% url 'edit_post' slug=draft.slug %}">{{ draft }}</a>
                </li>
            {% endfor %}
        </ul>
    </details>
{% endif %}

{% for year, posts in years_with_posts %}
    <h2>{{ year }}</h2>
    <ul class="post-list">
        {% for post in posts %}
            <li>
                <time datetime="{{ post.created_on|date:'Y-m-d' }}">{{ post.created_on|date:"M j" }}</time>
                <a
                    href="{% url 'post_detail' slug=post.slug %}">
                    {{ post }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
