{% load static %}

<section class="tag-container" hx-boost="true" hx-target="main">
    <a
        href="{% url 'post_list' %}"
        class="tag {% if not current_tag %}selected{% endif %}">all</a>

    {% for tag in tags %}
        <a
            href="{% url 'post_list' %}?tag={{ tag.slug }}"
            class="tag{% if current_tag == tag %} selected{% endif %}">{{ tag }}</a>
    {% endfor %}

    {% if not more_tags and tags|length == 10 %}
        <a
            href="{% url 'post_list' %}?{% if current_tag %}tag={{ current_tag }}&{% endif %}more-tags"
            class="tag more">
            <img src="{% static 'icons/double_arrow_right.svg' %}" alt="Double arrow pointing right">
        </a>
    {% endif %}

    {% if more_tags %}
        <a
            href="{% url 'post_list' %}{% if current_tag %}?tag={{ current_tag }}{% endif %}"
            class="tag less">
            <img src="{% static 'icons/double_arrow_left.svg' %}" alt="Double arrow pointing left">
        </a>
    {% endif %}
</section>

{% if user.is_superuser and drafts %}
    <details class="drafts">
        <summary></summary>
        <ul class="post-list drafts">
            {% for draft in drafts %}
                <li>
                    <span>Draft</span>
                    <a href="{% url 'edit_post' slug=draft.slug %}">{{ draft }}</a>
                </li>
            {% endfor %}
        </ul>
    </details>
{% endif %}

{% for year, posts in years_with_posts %}
    <h2>{{ year }}</h2>
    <ul class="post-list">
        {% for post in posts %}
            <li>
                <time datetime="{{ post.created_on|date:'Y-m-d' }}">{{ post.created_on|date:"M j" }}</time>
                <a
                    href="{% url 'post_detail' slug=post.slug %}">
                    {{ post }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
