<section class="tag-container">
    <a
        href="{% url 'post_list' %}"
        hx-get="{% url 'post_list' %}"
        hx-push-url="true"
        hx-target="main"
        class="tag {% if not current_tag %}selected{% endif %}">
        all
    </a>

    {% for tag in tags %}
        <a
            href="{% url 'post_list' %}?tag={{ tag.slug }}"
            hx-get="{% url 'post_list' %}?tag={{ tag.slug }}"
            hx-push-url="true"
            hx-target="main"
            class="tag {% if current_tag == tag %}selected{% endif %}">
            {{ tag }}
        </a>
    {% endfor %}
</section>

{% if user.is_superuser and drafts %}
    <details>
        <summary></summary>
        <ul class="post-list drafts">
            {% for draft in drafts %}
                <li>
                    <span>Draft</span>
                    <a href="{% url 'edit_post' slug=draft.slug %}">{{ draft }}</a>
                </li>
            {% endfor %}
        </ul>
    </details>
{% endif %}

{% for year, posts in years_with_posts %}
    <h2>{{ year }}</h2>
    <ul class="post-list">
        {% for post in posts %}
            <li>
                <time datetime="{{ post.created_on|date:'Y-m-d' }}">{{ post.created_on|date:"M j" }}</time>
                <a
                    href="{% url 'post_detail' slug=post.slug %}"
                    hx-get="{% url 'post_detail' slug=post.slug %}"
                    hx-push-url="true"
                    hx-target="main">
                    {{ post }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

<script id="clear_cached_post">
    if (localStorage.getItem("cached_post")) {
        localStorage.removeItem("cached_post");
    }
    document.getElementById("clear_cached_post").remove()
</script>
