{% load static %}

{% if hx_request %}
    <div hx-swap-oob="beforeend:header">
        <a
            id="back_btn"
            href="{{ back_info.path }}"
            hx-get="{{ back_info.path }}"
            hx-target="main"
            hx-push-url="true">
            <img src="{% static 'icons/arrow_back.png' %}" alt="Back arrow">
            <span class="back-text"><span class="tag">{{ back_info.tag }}</span></span>
        </a>
    </div>
{% endif %}

<article class="post">
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="tag-container">
        {% for tag in post.tags.all %}
            <a
                class="tag"
                href="{% url 'post_list' %}?tag={{ tag.slug }}"
                hx-get="{% url 'post_list' %}?tag={{ tag.slug }}"
                hx-target="main"
                hx-push-url="true">
                {{ tag }}
            </a>
        {% endfor %}
    </div>

    {{ post.content|safe }}

    <div class="publish-details">
        <p class="created-on">Published on <time datetime="{{ post.created_on|date:'Y-m-d' }}">{{ post.created_on|date:"M j, Y" }}</time></p>
        {% if post.updated_on|date:"Y-m-d" != post.created_on|date:"Y-m-d" %}
            <p class="updated-on">Updated on <time datetime="{{ post.updated_on|date:'Y-m-d' }}">{{ post.updated_on|date:"M j, Y" }}</time></p>
        {% endif %}
    </div>
</article>

{% if user.is_superuser %}
    <nav class="superuser-options">
        <a
            class="delete"
            href="{% url 'delete_post' slug=post.slug %}"
            hx-get="{% url 'delete_post' slug=post.slug %}"
            hx-target="main"
            hx-push-url="true">
            Delete
        </a>
        <a
            class="edit"
            href="{% url 'edit_post' slug=post.slug %}">
            Edit
        </a>
    </nav>
{% endif %}
