main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 720px;
    margin: 0 auto;
}

form {
    width: 240px;
    align-self: center;
}

form div {
    display: flex;
    flex-direction: column;
}

form div label {
    font-size: 0.85rem;
    margin-bottom: var(--size-0);
    margin-top: var(--size-1);
}

form div input {
    background: var(--color-light);
    border-radius: var(--size-0);
    border: 1px solid var(--color-opaque);
    color: var(--color-darkest);
    font-family: inherit;
    font-size: inherit;
    padding: var(--size-1);
}

form div input:focus {
    outline: none;
}

form button[type="submit"] {
    cursor: pointer;
    margin-top: var(--size-2);
    background: var(--color-dark);
    border: none;
    border-radius: var(--size-0);
    color: white;
    font-size: inherit;
    font-family: inherit;
    padding: var(--size-1);
    width: 100%;
}
