header.container,
footer.container {
    margin: var(--space-5) auto var(--space-4);
}

.container {
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
    padding: 0 var(--space-2);
}

header {
    display: flex;
    flex-direction: column;
}

header > nav {
    display: flex;
}

header > nav > a {
    margin-right: var(--space-1);
    padding: 0.25rem 0.5rem;
    background: var(--color-4);
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: 500;

    &:last-child {
        margin-right: 0;
    }
}

header > hr {
    border: none;
    border-top: 2px solid var(--color-4);
    margin-top: var(--space-3);
}

main {
    flex: 1;
}

nav.admin-bar {
    height: var(--space-4);
    line-height: var(--space-4);
    background: var(--color-1);
}

nav.admin-bar > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.admin-bar a {
    color: var(--color-4);
}

nav.admin-bar button.logout {
    cursor: pointer;
    background: var(--color-2);
    border: none;
    border-radius: 0.25rem;
    color: var(--color-4);
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
}

nav.admin-bar a.new-post {
    background: var(--color-4);
    border-radius: 0.25rem;
    color: var(--color-1);
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

a#blog_title {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--color-1);
    margin-bottom: var(--space-2);
}

a {
    color: var(--color-3);
}

time,
strong,
a {
    font-weight: 600;
}

time,
strong {
    color: var(--color-1);
}

p:not(li p) {
    margin-bottom: var(--space-2);
}

ul:not(ul.post-list) {
    margin-left: var(--space-3);
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
}

li ul:not(ul.post-list) {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
}

.post-list:not(.intro .post-list) {
    margin-left: var(--space-2);
    line-height: 1.6;
}

.intro .post-list {
    margin-left: var(--space-3);
    margin-bottom: var(--space-2);
}

.post-list .post-wrapper {
    display: grid;
    grid-template-columns: 8ch 1fr;
}

h1.post-title,
h1.home-title,
#id_title {
    margin-bottom: var(--space-2);
    font-size: var(--space-3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &:not(h1.post-title) {
        &:not(h1.home-title) {
            margin-top: var(--space-3);
            margin-bottom: var(--space-2);
            font-size: 1.5rem;
        }
    }
}

#new_post_form button[type="submit"],
#edit_post_form button[type="submit"] {
    background: var(--color-1);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: var(--color-4);
    float: right;
    padding: 0.25rem var(--space-1);
}

nav.superuser-options {
    display: flex;
    justify-content: flex-end;

    a {
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        margin-right: var(--space-1);
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
    }

    a.delete {
        border: 1px solid var(--color-3);
        color: var(--color-1);
    }

    a.edit {
        background: var(--color-1);
        color: var(--color-5);
    }
}

article.post,
article.intro {
    margin-bottom: var(--space-5);
    line-height: 1.6;
}

pre:has(code) {
    background: var(--color-4);
    padding: var(--space-3);
    margin: var(--space-3) 0;
    font-family: inherit;

    code {
        font-family: inherit;
        font-size: 0.9rem;
    }
}

textarea#id_title {
    background: none;
    color: var(--color-1);
    font-weight: 600;
    font-family: inherit;
    width: 100%;
    border: none;
    resize: none;

    &:focus {
        outline: none;
    }
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--space-3);

    > .tag {
        cursor: pointer;
    }
}

.tag-container:not(.tag-container:has(.current-tags)) {
    gap: var(--space-1);
}

.current-tags:has(.tag) {
    display: flex;
    gap: var(--space-1);
    margin-right: var(--space-2);
}

.tag {
    background: var(--color-3);
    border-radius: 0.25rem;
    color: white;
    cursor: default;
    font-size: 0.85rem;
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    padding: 0 var(--space-1);

    &:focus {
        outline: 2px solid var(--color-2);
    }
}

#id_tags {
    background: inherit;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 32px;

    &:focus {
        outline: none;
    }
}

@media only screen and (max-width: 568px) {
    header.container,
    footer.container {
        margin: var(--space-3) auto;
    }
}
