header.container,
footer.container {
    margin: var(--space-5) auto var(--space-4);
}

.container {
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
    padding: 0 var(--space-3);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img {
    height: var(--space-3);
}

main {
    flex: 1;
}

nav.admin-bar {
    height: var(--space-4);
    line-height: var(--space-4);
    background: var(--color-1);
}

nav.admin-bar > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.admin-bar a {
    color: var(--color-4);
}

nav.admin-bar button.logout {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0.25rem;
    color: var(--color-4);
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
}

nav.admin-bar a.new-post {
    background: var(--color-4);
    border-radius: 0.25rem;
    color: var(--color-1);
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

#blog_title {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-1);
    margin-left: var(--space-2);
}

a {
    color: var(--color-3);
}

strong {
    font-weight: 600;
    color: var(--color-1);
}

p:not(li p) {
    margin-bottom: var(--space-2);
}

ul.errorlist:not(ul.post-list) {
    background: hsl(0 30% 60%);
    border-radius: 0.25rem;
    color: white;
    font-size: 0.85rem;
    list-style-type: none;
    margin-left: 0;
    margin-bottom: var(--space-2);
    padding: 0.25rem var(--space-1);
}

ul:not(ul.post-list) {
    margin-left: var(--space-3);
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
}

li ul:not(ul.post-list) {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
}

.post-list {
    line-height: 1.6;
    margin-left: var(--space-2);
}

.post-list li {
    display: grid;
    grid-template-columns: 9ch 1fr;
    position: relative;

    &::before {
        content: "•";
        font-size: 20px;
        left: -18px;
        margin-right: var(--space-1);
        position: absolute;
        top: -4px;
    }
}

h1.post-title,
h1.home-title,
#id_title {
    margin-bottom: var(--space-2);
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &:not(h1.post-title) {
        &:not(h1.home-title) {
            margin-top: var(--space-3);
            margin-bottom: var(--space-2);
            font-size: 1.25rem;
        }
    }
}

#new_post_form button[type="submit"],
#edit_post_form button[type="submit"] {
    background: var(--color-1);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: var(--color-4);
    float: right;
    padding: 0.25rem var(--space-1);
}

nav.superuser-options {
    display: flex;
    justify-content: flex-end;

    a {
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        margin-right: var(--space-1);
        text-decoration: none;

        &:last-child {
            margin-right: 0;
        }
    }

    a.delete {
        border: 1px solid var(--color-3);
        color: var(--color-1);
    }

    a.edit {
        background: var(--color-1);
        color: var(--color-5);
    }
}

article.post,
article.intro {
    margin-bottom: var(--space-5);
    line-height: 1.6;
}

pre:has(code) {
    background: var(--color-5);
    padding: var(--space-3);
    margin: var(--space-3) 0;

    code {
        font-family: inherit;
        font-size: 0.85rem;
    }
}

textarea#id_title {
    background: none;
    color: var(--color-1);
    font-weight: 600;
    font-family: inherit;
    width: 100%;
    border: none;
    resize: none;

    &:focus {
        outline: none;
    }
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--space-3);

    > .tag {
        cursor: pointer;
    }

    &:has(+ h2) {
        margin-bottom: var(--space-4);
    }
}

.tag-container:not(.tag-container:has(.current-tags)) {
    gap: var(--space-1);
}

.current-tags:has(.tag) {
    display: flex;
    gap: var(--space-1);
    margin-right: var(--space-2);
}

a.tag {
    text-decoration: none;
}

a.tag.selected,
span.tag,
article.post a.tag {
    background: var(--color-3);
    opacity: 1;
}

span.tag:focus {
    outline: 2px solid var(--color-1);
}

.tag {
    background: var(--color-3);
    border-radius: 0.25rem;
    color: white;
    cursor: default;
    font-size: 0.85rem;
    height: 24px;
    line-height: 24px;
    padding: 0 var(--space-1);
    opacity: 0.4;
}

#id_tags {
    background: inherit;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 24px;

    &:focus {
        outline: none;
    }
}

div:has(.created-on) {
    font-style: italic;
    margin-top: var(--space-4);
    color: var(--color-1);
    border-top: 1px solid var(--color-4);
    padding-top: var(--space-3);

    .created-on,
    .updated-on {
        font-size: 0.85rem;
        margin: 0;

        > time {
            font-weight: 400;
        }
    }
}

a.back {
    display: flex;
    align-items: center;
    color: var(--color-2);
    font-size: 0.85rem;
    margin-bottom: var(--space-4);

    img {
        height: var(--space-2);
        margin-right: var(--space-1);
    }
}

@media only screen and (max-width: 568px) {
    header.container,
    footer.container {
        margin: var(--space-4) auto;
    }
}
