header.container,
footer.container {
    margin: var(--space-5) auto var(--space-4);
}

.container {
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
    padding: 0 var(--space-2);
}

header.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header.container div:has(#blog_title) {
    display: flex;
    align-items: center;
}

header.container div:has(#blog_title) img {
    height: var(--space-3);
}

main {
    flex: 1;
}

nav.admin-bar {
    height: var(--space-4);
    line-height: var(--space-4);
    background: var(--color-1);
}

nav.admin-bar > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.admin-bar a {
    color: var(--color-4);
}

nav.admin-bar button.logout {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0.25rem;
    color: var(--color-4);
    font-family: inherit;
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
}

nav.admin-bar a.new-post {
    background: var(--color-2);
    border-radius: 0.25rem;
    color: white;
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

#blog_title {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-1);
    margin-left: var(--space-2);
}

a {
    color: var(--color-3);
}

a#back_btn {
    color: var(--color-1);
    font-size: 0.85rem;
    padding: var(--space-1);
    text-decoration: none;
    z-index: 1;
}

a#back_btn img {
    height: var(--space-2);
    position: relative;
    top: 3px;
}

a#back_btn span {
    cursor: inherit;
}

a#back_btn span.back-text::before {
    content: "Back to ";
}

a#back_btn span.back-text::after {
    content: " posts";
}

a#back_btn span.tag {
    padding: 2px var(--space-1);
    font-size: 90%;
}

strong {
    font-weight: 600;
    color: var(--color-1);
}

p:not(li p) {
    margin-bottom: var(--space-2);
}

ul.errorlist:not(ul.post-list) {
    background: hsl(0 30% 60%);
    border-radius: 0.25rem;
    color: white;
    font-size: 0.85rem;
    list-style-type: none;
    margin-left: 0;
    margin-bottom: var(--space-2);
    padding: 0.25rem var(--space-1);
}

ul:not(ul.post-list) {
    margin-left: var(--space-3);
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
}

li ul:not(ul.post-list) {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
}

details:has(.drafts) {
    margin-bottom: var(--space-4);
}

details:has(.drafts) summary::before {
    content: "Show drafts";
}

details:has(.drafts) summary {
    color: var(--color-1);
    cursor: pointer;
    font-size: 0.85rem;
}

details:has(.drafts) .drafts {
    margin-top: var(--space-2);
}

details:has(.drafts)[open] summary::before {
    content: "Hide drafts";
}

.post-list {
    line-height: 1.6;
    margin-left: var(--space-2);
}

.post-list li {
    display: grid;
    grid-template-columns: 9ch 1fr;
    position: relative;
}

.post-list li::before {
    content: "•";
    font-size: 20px;
    left: -18px;
    margin-right: var(--space-1);
    position: absolute;
    top: -4px;
}

h1.post-title,
h1.home-title,
#id_title {
    margin-top: 0;
    margin-bottom: var(--space-2);
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--space-3);
    margin-bottom: var(--space-2);
    font-size: 1.25rem;
}

form:has(.tiptap) {
    margin-top: var(--space-2);
}

form:has(.tiptap) button[type="submit"] {
    background: var(--color-1);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 0.25rem var(--space-1);
}

form:has(.tiptap) button[type="submit"] {
    background: var(--color-1);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: var(--color-4);
    padding: 0.25rem var(--space-1);
}

form:has(.tiptap) button[type="submit"].secondary {
    background: none;
    border: 1px solid;
    color: var(--color-1);
}

a.button {
    background: var(--color-1);
    text-decoration: none;
    color: var(--color-4);
    padding: 0.25rem var(--space-1);
    border-radius: 0.25rem;
}

.js-only {
    display: none;
}

.js-enabled .js-only {
    display: block;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a.github-link img {
    height: 24px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#new_post_form .buttons {
    justify-content: flex-end;
}

a.delete {
    background: none;
    color: indianred;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid indianred;
}

article.post {
    margin: var(--space-2) 0 var(--space-4);
    line-height: 1.6;
}

article.post .tag-container {
    margin-bottom: 36px;
}

code,
pre:has(code) {
    background: var(--color-4);
    border-radius: 0.25rem;
}

pre:has(code) {
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    padding: var(--space-3);
    margin: var(--space-3) 0;
    overflow-x: auto;
}

pre:has(code) code {
    font-family: inherit;
    font-size: 0.85rem;
}

code:not(pre code) {
    padding: 0.25rem;
}

textarea#id_title {
    background: none;
    color: var(--color-1);
    font-weight: 600;
    font-family: inherit;
    width: 100%;
    border: none;
    resize: none;
    overflow-y: hidden;
    line-height: 38.5px;
}

textarea#id_title:focus {
    outline: none;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--space-4);
}

.tag-container > .tag {
    cursor: pointer;
}

article .tag-container {
    margin-bottom: var(--space-3);
}

.tag-container:not(.tag-container:has(.current-tags)) {
    gap: var(--space-1);
}

.current-tags:has(.tag) {
    display: flex;
    gap: var(--space-1);
    margin-right: var(--space-2);
}

a.tag.selected,
span.tag,
article.post a.tag {
    background: var(--color-3);
    opacity: 1;
}

span.tag:focus {
    outline: 2px solid var(--color-1);
}

a.tag {
    text-decoration: none;
}

.tag {
    background: var(--color-3);
    border-radius: 0.25rem;
    color: white;
    cursor: default;
    font-size: 0.85rem;
    height: 24px;
    line-height: 24px;
    padding: 0 var(--space-1);
    opacity: 0.4;
}

#id_tags {
    background: inherit;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 24px;
}

#id_tags:focus {
    outline: none;
}

div.publish-details {
    margin-top: var(--space-4);
    color: var(--color-2);
    border-top: 1px solid var(--color-4);
    padding-top: var(--space-3);
    font-size: 0.85rem;
}

@media only screen and (max-width: 568px) {
    header.container,
    footer.container {
        margin: var(--space-4) auto var(--space-3);
    }

    a#back_btn span.back-text::before {
        content: "";
    }

    a#back_btn span.back-text::after {
        content: "";
    }
}
