div:has(.tags) {
    margin-bottom: var(--space-4);
}

.tags,
#id_tags {
    font-size: 85%;
}

#id_tags {
    background: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: var(--space-2) 0;

    &:focus {
        outline: none;
    }
}
