:root {
    --size-0: 0.25rem;
    --size-1: 0.5rem;
    --size-2: 1rem;
    --size-3: 2rem;
    --size-4: 3rem;
    --size-5: 5rem;
    --font-size-1: 1rem;
    --font-size-2: 0.875rem;
    --color-opaque: rgba(0, 0, 0, 0.07);
    --color-darkest: hsl(210 50% 20%);
    --color-dark: hsl(210 30% 45%);
    --color-medium: hsl(210 50% 80%);
    --color-light: hsl(210 30% 95%);
    --color-lightest: hsl(210 10% 95%);
    --color-whitish: hsl(210 30% 98%);
    --color-alert: hsl(0 30% 50%);
    --line-height: 1.6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100dvh;
}

html {
    background: var(--color-whitish);
    color: var(--color-darkest);
    font-family: "IBM Plex Mono", monospace;
    font-size: 100%;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-1);
}

header,
main,
footer,
.container {
    max-width: 720px;
    margin: auto;
    width: 100%;
    padding: 0 var(--size-2);
}

header,
footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: var(--size-5) auto var(--size-4);
}

body:has(.admin-bar) header {
    margin: calc(48px + var(--size-5)) auto var(--size-4);
}

header div:has(#blog_title) {
    display: flex;
    align-items: center;
}

main {
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-darkest);
    display: inline;
    font-size: 1.125rem;
    font-weight: normal;
    margin-top: var(--size-3);
    margin-bottom: var(--size-2);
    line-height: normal;
}

h2,
h3,
h4,
h5,
h6 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
    margin-top: var(--size-2);
}

*:has(+ h1),
*:has(+ h2),
*:has(+ h3),
*:has(+ h4),
*:has(+ h5),
*:has(+ h6) {
    margin-bottom: var(--size-3) !important;
}

a {
    color: var(--color-dark);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

strong,
em {
    color: var(--color-darkest);
}

p:not(li p) {
    margin-bottom: var(--size-2);
}

button {
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    background: inherit;
    border: none;
    padding: var(--size-0) var(--size-1);
}

@media only screen and (max-width: 568px) {
    body:has(.admin-bar) header {
        margin: calc(48px + var(--size-3)) auto var(--size-3);
    }

    header {
        margin: var(--size-3) 0 var(--size-4);
    }

    footer {
        margin: var(--size-4) auto var(--size-2);
    }
}
