:root {
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 3rem;
    --space-5: 5rem;
    --color-1: hsl(210 30% 30%);
    --color-2: hsl(210 15% 40%);
    --color-3: hsl(210 15% 50%);
    --color-4: hsl(210 30% 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100dvh;
}

html {
    color: var(--color-2);
    font-family: "IBM Plex Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-1);
    font-size: inherit;
}
