{% extends 'main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    {% block page_css %}{% endblock page_css %}
{% endblock css %}

{% block js %}
    <script src="{% static 'blog/js/core.bundle.js' %}"></script>
    {% block page_js %}{% endblock page_js %}
{% endblock js %}

{% block body %}
    {% if user.is_superuser %}
        <nav class="admin-bar">
            <div class="container">
                <div>
                    <a
                        onclick="clearCachedPost()"
                        class="new-post"
                        href="{% url 'new_post' %}">
                        + New Post
                    </a>
                </div>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="logout" type="submit">Log Out</button>
                </form>
            </div>
        </nav>
    {% endif %}
    <header>
        <a href="{% url 'post_list' %}" id="blog_title">#lowmumble</a>
        {% block back_nav %}
        {% endblock back_nav %}
    </header>
    <main>
        {% block main %}
        {% endblock main%}
    </main>
    <footer>
        <small>© 2024 low mumble.</small>
        <a aria-label="View project on Github" target="_blank" rel="noopener noreferrer" class="github-link" href="https://github.com/nmsalvatore/lowmumble">
            <img src="{% static 'icons/code.svg' %}" alt="Enclosed caret symbols">
        </a>
    </footer>
{% endblock body %}
