{% extends 'main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock css %}

{% block body %}
    {% if user.is_superuser %}
        <nav class="admin-bar">
            <div class="container">
                <a href="/">New Post</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="logout" type="submit">Log Out</button>
                </form>
            </div>
        </nav>
    {% endif %}

    <header class="container">
        <a id="blog_title" href="{% url 'home' %}">low mumble.</a>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'post_list' %}">Posts</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>
        <hr>
    </header>
    <main class="container">
        {% block main %}
        {% endblock main%}
    </main>
    <footer class="container">
        <small>© 2024 low mumble.</small>
    </footer>
{% endblock body %}
