{% extends 'main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    {% block page_css %}{% endblock page_css %}
{% endblock css %}

{% block body %}
    {% if user.is_superuser %}
        <nav class="admin-bar">
            <div class="container">
                <div>
                    <a
                        class="new-post"
                        href="{% url 'new_post' %}">
                        + New Post
                    </a>
                </div>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="logout" type="submit">Log Out</button>
                </form>
            </div>
        </nav>
    {% endif %}

    <header class="container">
        {% include "blog/partials/header.html" %}
    </header>

    <main class="container">
        {% block main %}
        {% endblock main%}
    </main>

    <footer class="container">
        <small>© 2024 low mumble.</small>
    </footer>
{% endblock body %}
