{% extends 'blog/base.html' %}
{% load static %}


{% block main %}
    <article class="intro">
        <h1 class="home-title">Hello.</h1>
        <p>My name is Nick.</p>
        <p>I have a lot of thoughts about a lot of things and I use this space to work those thoughts out. I’m sure I get things wrong sometimes, but that’s part of the fun.</p>
        <p>Here are some of my recent thoughts.</p>
        <ul>
            {% for post in posts %}
                <li>
                    <time datetime="{{ post.updated_on|date:'Y-m-d' }}">{{ post.updated_on|date:"M d" }}</time>
                    <a href="{% url 'post_detail' slug=post.slug %}">{{ post }}</a>
                </li>
            {% endfor %}
        </ul>
        <p>I appreciate you reading, even if you don’t appreciate my writing.</p>
    </article>
{% endblock main %}
