{% extends 'blog/base.html' %}
{% load static %}


{% block main %}
    <article class="intro">
        <h1 class="home-title">Ah, hello.</h1>
        <p>I built this little blog because I wanted a simple, flexible and public writing system where I could organize the thoughts in my very unorganized brain. I feel pretty good about what I have so far. Hopefully you're ok with it.</p>
        <p>Here are some of my recent favorite posts.</p>
        <ul class="post-list">
            {% for post in posts %}
                <li>
                    <div class="post-wrapper">
                        <time datetime="{{ post.updated_on|date:'Y-m-d' }}">{{ post.updated_on|date:"M j" }}</time>
                        <a href="{% url 'post_detail' slug=post.slug %}">{{ post }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <p>I appreciate you visiting.</p>
    </article>
{% endblock main %}
