{% extends 'blog/base.html' %}
{% load static %}

{% block subtitle %}New post{% endblock subtitle %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'blog/css/tiptap.css' %}">
{% endblock page_css %}

{% block js %}
    <script src="{% static 'blog/js/tiptap.bundle.js' %}"></script>
    <script src="{% static 'blog/js/blog.bundle.js' %}"></script>
{% endblock js %}

{% block main %}
    <noscript>Please enable JavaScript.</noscript>
    <form class="js-only" id="new_post_form" method="post">
        {% csrf_token %}

        <!-- title -->
        {% if form.title.errors %}
            <div class="error">
                {{ form.title.errors }}
            </div>
        {% endif %}
        {{ form.title }}

        <!-- tags -->
        <div class="tag-container">
            <span class="current-tags"></span>
            {{ form.tags }}
            <input type="hidden" name="tag_data" id="tag_data">
        </div>

        <!-- tiptap editor -->
        <div class="editor"></div>
        <input type="hidden" name="content" id="editor_content">

        <!-- buttons -->
        <div class="extras">
            <button type="submit" class="secondary" name="save_draft">Save draft</button>
            <button type="submit" class="primary" name="publish">Publish</button>
            <input type="hidden" name="submit_action" id="submit_action">
        </div>
    </form>
{% endblock main %}
