{% extends 'blog/base.html' %}
{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'blog/css/tiptap.css' %}">
{% endblock page_css %}

{% block js %}
    <script>const editedContent = '{{ post.content|escapejs }}'</script>
    <script src="{% static 'blog/js/tiptap.bundle.js' %}"></script>
    <script src="{% static 'blog/js/blog.bundle.js' %}"></script>
{% endblock js %}

{% block main %}
    <noscript>Please enable JavaScript.</noscript>
    <form class="js-only" id="edit_post_form" method="post">
        {% csrf_token %}

        <!-- title -->
        {% if form.title.errors %}
            <div class="error">
                {{ form.title.errors }}
            </div>
        {% endif %}
        {{ form.title }}

        <!-- tags -->
        <div class="tag-container">
            <span class="current-tags">
                {% for tag in post.tags.all %}
                    <span class="tag" tabindex="0">{{ tag }}</span>
                {% endfor %}
            </span>
            <input type="text" name="tags" class="form-control" placeholder="Add tag" id="id_tags" autocomplete="off">
            <input type="hidden" name="tag_data" id="tag_data" value="{{ post.tags.all|join:',' }}">
        </div>

        <!-- tiptap editor -->
        <div class="editor"></div>
        <input type="hidden" name="content" id="editor_content">

        <!-- buttons -->
        <div class="buttons">
            <a class="delete" href="{% url 'delete_post' slug=post.slug %}">Delete</a>
            <div class="submit-buttons">
                {% if not post.published %}
                    <button type="submit" class="secondary" name="update_draft">Update draft</button>
                    <button type="submit" class="primary" name="publish">Publish</button>
                {% elif post.published %}
                    <button type="submit" class="secondary" name="revert_to_draft">Revert to draft</button>
                    <button type="submit" class="primary" name="update">Update</button>
                {% endif %}
                <input type="hidden" name="submit_action" id="submit_action">
            </div>
        </div>
    </form>
{% endblock main %}
