{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'icons/favicon.png' %}">
        <title>low mumble.</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'core/css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
        {% block css %}{% endblock css%}

        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>

    </head>
    <body>
        {% block body %}
        {% endblock body%}

        <!-- scripts -->
        {% block js %}{% endblock js%}
    </body>
</html>
