{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'icons/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'core/css/main.css' %}">

        {% block css %}{% endblock css%}
        {% block js %}{% endblock js%}

        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@2.0.3" defer></script>

        <title>low mumble.</title>
    </head>
    <body>
        {% block body %}
        {% endblock body%}
    </body>
</html>
